#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Ollama Docker
Comment=Opens an Ollama Docker container and enters interactive shell in it
Type=Application
Exec=/home/tadyen/Yokul/asdf-configs/desktop_files/ollama_docker/ollama_docker.sh
Terminal=true
Icon=/home/tadyen/Yokul/asdf-configs/desktop_files/ollama_docker/ollama.png
